ec2-54-179-162-106.ap-southeast-1.compute.amazonaws.com {  # Use "localhost" or configure a local domain in /etc/hosts
    tls /secrets/selfsigned.crt /secrets/selfsigned.key
      
    reverse_proxy /api* http://chatbot-backend:8080  # Proxy API requests
    reverse_proxy /* http://chatbot-frontend:80     # Serve React frontend
    header {
        Access-Control-Allow-Credentials true
    }
}
